body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFEB3B;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.nav {
    text-align: right;
    padding: 10px;
    background-color: #FFEB3B;
    border-bottom: 1px solid #000;
}

.nav a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}
.faq-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.faq-item {
    margin-bottom: 20px;
}
.faq-item q {
    display: block;
    margin-bottom: 10px;
}
.faq-item a {
    color: green;
    display: block;
}
.form-title {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}
.form-group label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
.form-group input, .form-group textarea {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    padding: 10px 20px;
    background-color: #00a2ff;
    color: white;
    border: none;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #007acc;
}
.footer {
    background-color: #FFEB3B;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #000;
}
